[Desktop%20Entry]
Comment=\x5317\x4eac\x73b0\x5728\x5929\x6c14
Encoding=UTF-8
Name=\x5317\x4eac\x5f53\x524d
X-AW-Active=true
X-AW-ApiVersion=4
X-AW-City=Beijing
X-AW-Country=cn
X-AW-Image=true
X-AW-Interval=1800
X-AW-Number=1
X-AW-Provider=OWM
X-AW-Schedule=
X-AW-Socket=
X-AW-TS=0
