[Desktop%20Entry]
Comment=empty
Encoding=UTF-8
Exec=/home/realasking/bin/battery.sh
Name=/home/realasking/.local/share/awesomewidgets/scripts/custBattery.desktop
X-AW-Active=true
X-AW-ApiVersion=5
X-AW-Filters=newline
X-AW-Interval=1
X-AW-Number=8
X-AW-Prefix=
X-AW-Redirect=nothing
X-AW-Schedule=
X-AW-Socket=
