[Desktop%20Entry]
Comment=amd cpu type info
Encoding=UTF-8
Exec=/home/realasking/bin/cpuinfo.sh
Name=/home/realasking/.local/share/awesomewidgets/scripts/intelcpu.desktop
X-AW-Active=true
X-AW-ApiVersion=5
X-AW-Filters=newline
X-AW-Interval=1
X-AW-Number=3
X-AW-Prefix=
X-AW-Redirect=nothing
X-AW-Schedule=
X-AW-Socket=
