[Desktop%20Entry]
Comment=empty
Encoding=UTF-8
Exec=/home/realasking/bin/obtain_lunar_lite.sh
Name=/home/realasking/.local/share/awesomewidgets/scripts/lunar_lite.desktop
X-AW-Active=true
X-AW-ApiVersion=5
X-AW-Filters=
X-AW-Interval=1
X-AW-Number=9
X-AW-Prefix=
X-AW-Redirect=nothing
X-AW-Schedule=
X-AW-Socket=
