[Desktop%20Entry]
Comment=empty
Encoding=UTF-8
Exec=/home/realasking/bin/obtain_time_lite.sh
Name=/home/realasking/.local/share/awesomewidgets/scripts/time_lite.desktop
X-AW-Active=true
X-AW-ApiVersion=5
X-AW-Filters=
X-AW-Interval=1
X-AW-Number=10
X-AW-Prefix=
X-AW-Redirect=nothing
X-AW-Schedule=
X-AW-Socket=
